.page.theme_dark {
    --background-image: url(../images/cover-image-dark.png);
    --title-color: #000028;
    --text-color: #F1B2CE;
    --menu-color: rgba(255, 0, 112, 1);
    --decorated-color: #DB00FF;
    --accent-color: rgba(255, 0, 112, 1);
    --rec-display: flex;
    --line-color: rgba(255, 0, 112, 1);
    --border-style: 1px solid rgb(255, 0, 112, 1);
    --border-style-hover: 1px solid rgba(255, 0, 112, 0.4);
    --border-style-focus: 1px solid rgba(255, 0, 112, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url(../images/cover-image-dark.png);
        --title-color: #000028;
        --text-color: #F1B2CE;
        --menu-color: rgba(255, 0, 112, 1);
        --decorated-color: #DB00FF;
        --accent-color: rgba(255, 0, 112, 1);
        --rec-display: flex;
        --line-color: rgba(255, 0, 112, 1);
        --border-style: 1px solid rgb(255, 0, 112, 1);
        --border-style-hover: 1px solid rgba(255, 0, 112, 0.4);
        --border-style-focus: 1px solid rgba(255, 0, 112, 1);
    }
}