.page.theme_light {
    --background-image: url(../images/cover-image-light.png);
    --title-color: #353430;
    --text-color: #353430;
    --menu-color: #353430;
    --decorated-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --rec-display: none;
    --line-color: #353430;
    --border-style: 1px solid rgba(50, 49, 45, 1);
    --border-style-hover: 1px solid rgba(50, 49, 45, 0.4);
    --border-style-focus: 1px solid rgba(53, 52, 48, 1);
}