.page.theme_light {
    --background-image: url(../images/cover-image-light.png);
    --title-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --menu-color: rgba(53, 52, 48, 1);
    --decorated-color: rgba(255, 194, 230, 1);
    --accent-color: #FF8DCB;
    --rec-display: none;
    --line-color: rgba(53, 52, 48, 1);
    --border-style: 1px solid rgba(50, 49, 45, 1);
    --border-style-hover: 1px solid rgba(50, 49, 45, 0.4);
    --border-style-focus: 1px solid rgba(53, 52, 48, 1);
}