.page {
    max-inline-size: 1024px;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    font-family: IBM Plex Mono;
    font-size: 18px;
    line-height: 1.3;
    color: var(--text-color);
}

.header {
    position: relative;
    block-size: 100vb;
    display: grid;
    padding: var(--header-padding);
    grid-template-rows: 1fr min-content 1fr;
}

.header-rec {
    display: var(--rec-display);
    position: absolute;
    top: 21px;
    right: 29px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    align-items: center;
}

.header-rec::before {
    content: "rec";
    margin-inline-end: 10px;
}

.header-rec::after {
    content: "";
    border-radius: 50%;
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--accent-color);
    display: block;
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.footer {
    position: relative;
    block-size: 100vb;
    display: grid;
    padding: var(--main-padding);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.decorated-line::before {
    content: '';
    position: absolute;
    display: block;
    border-inline-end: 1px solid var(--line-color);
    border-block-start: 1px solid var(--line-color);
    block-size: 25px;
    inline-size: 25px;
    inset-inline-end: 20px;
    inset-block-start: 20px;
}

.decorated-line::after {
    content: '';
    position: absolute;
    display: block;
    border-inline-start: 1px solid var(--line-color);
    border-block-end: 1px solid var(--line-color);
    block-size: 25px;
    inline-size: 25px;
    inset-inline-start: 20px;
    inset-block-end: 20px;
}

.decorated-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--decorated-color);
    font-family: inherit;
    line-height: 82.5%;
    font-weight: 700;
}

.header-title {
    margin-inline-start: -20px;
    text-shadow: 4px 4px 0 var(--accent-color);
}

.footer-title {
    text-shadow: 2px 2px 0 var(--accent-color);
}

.header .title {
    inline-size: 50%;
    max-inline-size: 491px;
    align-self: center;
    justify-self: end;
    min-inline-size: auto;
}

.header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    gap: 10px;
    color: inherit;
}

.header__theme-menu {
    color: var(--menu-color);
}

.header__theme-menu-button {
    background: none;
    border: none;
    line-height: 1;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
    block-size: 26px;
    min-inline-size: 70px;
}

.header__theme-menu-button_active {
    border: var(--border-style);
    pointer-events: none;
}

.header__theme-menu-button:hover {
    border: var(--border-style-hover);
    cursor: pointer;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border: none;
    border-bottom: var(--border-style);
}

.main {
    display: grid;
    gap: var(--main-gap);
    padding: var(--main-padding);
    margin-block: 40px;
}

.title {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    color: var(--accent-color);
    max-inline-size: 315px;
}

.content p {
    margin-block-start: 10px;
}

.link {
    text-shadow: 3px 2px 0 var(--accent-color);
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid var(--accent-color);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: -2px;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--title-color);
    min-inline-size: 100%;
}

.subtitle {
    font-weight: 400;
}

section {
    display: grid;
    gap: 20px;
}

.why {
    grid-template-columns: repeat(3, 1fr);
}

.what .content-block {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.why .content-block {
    display: grid;
    gap: 20px;
    grid-column: 2 / 4;
}

.how {
    grid-template-columns: repeat(3, 1fr);
}

.how .content-block {
    display: grid;
    gap: 20px;
    grid-column: 2 / 4;
}

.images-block {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "zero zero zero"
        "one one two"
        "three four two"
        "three five five";
}

img {
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
}

.zero {
    grid-column: 1/4;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
    min-block-size: 100%;
}

.three {
    grid-area: three;
    min-block-size: 100%;
    object-fit: cover;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

@media (width >=1024px) {
    .images-block {
        grid-template-rows: auto 260px 315px 428px;
    }
}

@media (width <=768px) {
    .what .content-block {
        grid-template-columns: auto;
    }

    .title {
        max-inline-size: 236px;
    }

    .how,
    .why {
        grid-template-columns: 236px 1fr 1fr;
    }

    .header__theme-menu {
        justify-self: end;
        align-self: center;
    }

    .header__theme-menu-list {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 26px);
        justify-content: end;
        justify-items: center;
    }
}

@media (max-width:767px) {

    :root {
        --main-padding: 0 10px;
        --header-padding: 10px;
        --main-gap: 50px;
    }

    .decorated-title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
    }

    .header-title {
        margin-inline-start: 0;
    }

    .header-rec {
        top: 10px;
        right: 20px;
    }

    .decorated-line::before {
        inset-inline-end: 10px;
        inset-block-start: 10px;
    }

    .zero {
        grid-column: auto;
    }

    .decorated-line::after {
        inset-inline-start: 10px;
        inset-block-end: 10px;
    }

    .how,
    .why,
    .what .content-block {
        grid-template-columns: auto;
    }

    .images-block {
        grid-template-areas:
            "zero"
            "one"
            "two"
            "three"
            "four"
            "five";
        gap: 10px;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 100%);
    }

    .why .content-block,
    .how .content-block {
        grid-column: auto;
    }

    .header .title {
        inline-size: 100%;
        max-inline-size: none;
    }

    .title {
        max-inline-size: none;
    }

    .header,
    .footer {
        min-block-size: auto;
    }
}